asgiref==3.4.1
autopep8==2.0.1
cachetools==4.2.4
certifi==2022.12.7
charset-normalizer
Django==3.2.19
google-api-core
google-api-python-client==2.52.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.56.2
httplib2==0.21.0
idna==3.4
oauthlib==3.2.2
protobuf
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pyparsing==3.0.7
requests
requests-oauthlib
rsa==4.9
six==1.16.0
sqlparse==0.4.3
tomli==1.2.3
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.14
